//global classes
.container {
  margin: 1rem;
}

.no-flick {
  transform: translate3d(0, 0, 0);
}

@media (min-width: $breakpoint-tablet) {
  .container {
    margin: 80px auto;
    width: 650px;
  }
}

@media (min-width: $breakpoint-laptop) {
  .container {
    margin: 80px auto;
    width: 800px;
  }
}

@media (min-width: $breakpoint-laptop-l) {
  .container {
    width: $breakpoint-laptop;
  }
}

@media (min-width: $breakpoint-4k) {
  .container {
    width: 1600px;
  }
}
