//colors
$color-black: #f0f0f0;
$color-background: #202b2f;
$color-accent: #eee1b5;

//font size
$font-very-small: 0.8rem;
$font-small: 0.9rem;
$font-medium: 1rem;
$font-large: 2.6rem;

// screen size break points
$breakpoint-tablet: 769px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-l: 1440px;
$breakpoint-4k: 2560px;
