// colours
$color-black: #2b3d42;
$color-background: #689d9a;

//font size
$font-very-small: 0.9rem;
$font-small: 1.1rem;
$font-medium: 1.5rem;
$font-large: 3rem;

// screen size break points
$breakpoint-tablet: 769px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-l: 1440px;
$breakpoint-4k: 2560px;
